@{
    ViewData["Title"] = "Home Page";
}

<div id="app">

</div>

@section Scripts{    
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/js/pianochordgenerator.js"></script>
}