@{
    ViewData["Title"] = "Home Page";
}

<div id="app">

    <label>Select a chord:</label>
    <br />
    
    <canvas id="myCanvas" width="281" height="78" style="border:1px solid #d3d3d3;"></canvas>
</div>

<script>         
            
</script>

@section Scripts{    
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>    
    <script src="~/js/pianochordgenerator.js"></script>
    <script src="~/js/drawchords.js"></script>
}