<!DOCTYPE html>
<html>
<!--
    Created by EncouragingApps.com 2020
    Developer: Isaac Ortiz
-->
<head>
    <style>
        
        td {
            vertical-align: middle;
        }

        .canvas {
            border: 1px solid #d3d3d3;
            vertical-align: middle;
        }

        .radio {
            vertical-align: middle;
        }

        .liststyle {
            width: 200px;
        }  

        .addRemoveButtons{
            width: 200px
        } 
                
    </style>
</head>
<body>  
    <div id="divChordBuilderWorkspace">
        <div id="divMsg"></div>        
        <table>
            <tr>
                <td>
                    <b>Select a Chord:</b>
                    <br />
                    @*<select name="chords" id="dropdownChords" onchange="SetChords();">
                        <option value="None">(None)</option>
                        <option value="C Major">C Major</option>
                    </select>*@

                    @Html.DropDownList("dropdownChords",
                                      (IEnumerable<SelectListItem>)ViewBag.ChordList,
                                      new { @onchange = "SetChords();" })

                    <br />
                    <br />

                    <p><b>Root Position</b></p>
                    <input type="radio" id="radioRoot" name="radioInversion" value="root" class="radio" />
                    <canvas id="canvasPianoChart1" width="281" height="78" class="canvas">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>

                    <br />

                    <p><b>1st Inversion</b></p>
                    <input type="radio" id="radioFirst" name="radioInversion" value="first" />
                    <canvas id="canvasPianoChart2" width="281" height="78" class="canvas">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>

                    <br />

                    <p><b>1st Inversion</b></p>
                    <input type="radio" id="radioFirst" name="radioInversion" value="second" />
                    <canvas id="canvasPianoChart3" width="281" height="78" class="canvas">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                </td>
                <td>
                    <input type="button" id="buttonAddChord" value="Add Chord >>"
                           onclick="AddChord();" class="addRemoveButtons" />
                    <br />
                    <br />
                    <input type="button" id="buttonRemoveChord" value="<< Remove Chord" class="addRemoveButtons" />
                </td>
                <td>
                    <select id="listboxSelectedChords" name="listboxSelectedChords" multiple size="10"
                            width="30px" class="liststyle"></select>
                </td>
            </tr>
        </table>

    </div>


    <script>
        var whitekeycolor = "#FF0000";
        var blackkeycolor = "#000000";

        var pianoChart1 = GetElementById("canvasPianoChart1");
        var pianoChart2 = GetElementById("canvasPianoChart2");
        var pianoChart3 = GetElementById("canvasPianoChart3");

        RenderPianoKeyboard(pianoChart1);
        RenderPianoKeyboard(pianoChart2);
        RenderPianoKeyboard(pianoChart3);


        function SetChords() {
            var selectedChord = GetElementById("dropdownChords");

            RenderPianoKeyboard(pianoChart1, selectedChord.value, "Root");
            RenderPianoKeyboard(pianoChart2, selectedChord.value, "First");
            RenderPianoKeyboard(pianoChart3, selectedChord.value, "Second");
        }

        function AddChord() {

            var listofChords = GetElementById("listboxSelectedChords");
            var selectedChord = GetElementById("dropdownChords");

            if (selectedChord.value == "maj" || selectedChord.value=="min") { return false; }
            if (DoesChordExist(selectedChord.value)) { return false; }
            if (listofChords.options.length > 10) { return false }

            var opt = document.createElement("option");

            opt.text = selectedChord.text;
            opt.value = selectedChord.value;
            listofChords.options.add(opt);

            return true;

        }

        function DoesChordExist(ChordToCheck) {
            var list = GetElementById("listboxSelectedChords");

            for (var i = 0; i < list.options.length; ++i) {
                if (list.options[i].value == ChordToCheck) {
                    return true;
                }
            }

        }

        function RenderPianoKeyboard(canvasToRender, selectedChord, inversion) {
            var ctx = canvasToRender.getContext("2d");
            var WHITEKEY_H = 75;
            var BLACKKEY_H = 43;
            var BLACKKEY_W = 15;
            var BLACKKEY_Y = 0;
            var WHITEKEY_Y = 0;

            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            ctx.beginPath();

            var counter = 0;

            //Render Whitekeys
            ctx.beginPath;
            for (i = 0; i < 14; i++) {
                counter += 20;

                
                ctx.rect(0, WHITEKEY_Y, counter, WHITEKEY_H);
                ctx.fillStyle = whitekeycolor;
            }

            //Render Blackkeys
            ctx.beginPath;
            ctx.fillStyle = blackkeycolor;
            var xposList = [12, 34, 72, 92, 112, 154, 174, 214, 234, 254];

            for (i = 0; i < xposList.length; i++) {
                ctx.fillRect(xposList[i], BLACKKEY_Y, BLACKKEY_W, BLACKKEY_H);
            }

            ctx.stroke();

            //Render Indicators
            var circle = new Path2D();

            ctx.beginPath;
            for (i = 0; i < 14; i++) {
                counter += 20;
                             
                //Render Chord Indicators
                if (selectedChord != null || selectedChord != undefined) {

                    switch (i + 1) {
                        case 1:
                            if (selectedChord == "cmaj" && inversion == "Root") {
                                circle.arc(10, 60, 7, 0, 2 * Math.PI);
                            }
                            break;
                        case 2:
                            // code block
                            //circle.arc(30, 60, 7, 0, 2 * Math.PI);
                            break;
                        case 3:
                            if (selectedChord == "cmaj" && inversion == "Root") {
                                circle.arc(50, 60, 7, 0, 2 * Math.PI);
                            }
                            if (selectedChord == "cmaj" && inversion == "First") {
                                circle.arc(50, 60, 7, 0, 2 * Math.PI);
                            }
                            break;
                        case 4:
                            //circle.arc(70, 60, 7, 0, 2 * Math.PI);
                            break;
                        case 5:
                            if (selectedChord == "cmaj" && inversion == "Root") {
                                circle.arc(90, 60, 7, 0, 2 * Math.PI);
                            }
                            if (selectedChord == "cmaj" && inversion == "First") {
                                circle.arc(90, 60, 7, 0, 2 * Math.PI);
                            }
                            if (selectedChord == "cmaj" && inversion == "Second") {
                                circle.arc(90, 60, 7, 0, 2 * Math.PI);
                            }
                            break;
                            break;
                        case 6:
                            //circle.arc(110, 60, 7, 0, 2 * Math.PI);
                            break;
                        case 7:
                            //circle.arc(130, 60, 7, 0, 2 * Math.PI);
                            break;
                        case 8:
                            if (selectedChord == "cmaj" && inversion == "First") {
                                circle.arc(150, 60, 7, 0, 2 * Math.PI);
                            }
                            if (selectedChord == "cmaj" && inversion == "Second") {
                                circle.arc(150, 60, 7, 0, 2 * Math.PI);
                            }
                            break;
                        case 9:
                            //circle.arc(170, 60, 7, 0, 2 * Math.PI);
                            break;
                        case 10:
                            if (selectedChord == "cmaj" && inversion == "Second") {
                                circle.arc(190, 60, 7, 0, 2 * Math.PI);
                            }
                            break;
                        case 11:
                            //circle.arc(210, 60, 7, 0, 2 * Math.PI);
                            break;
                        case 12:
                            //circle.arc(230, 60, 7, 0, 2 * Math.PI);
                            break;
                        case 13:
                            //circle.arc(250, 60, 7, 0, 2 * Math.PI);
                            break;
                        case 14:
                            //circle.arc(270, 60, 7, 0, 2 * Math.PI);
                            break;
                        default:
                            break;
                    }

                    ctx.fillStyle = "#0000FF";

                    //Black key1
                    //circle.arc(20, 23, 7, 0, 2 * Math.PI);
                    //Black key2
                    //circle.arc(42, 23, 7, 0, 2 * Math.PI);
                    //Black key3
                    //circle.arc(80, 23, 7, 0, 2 * Math.PI);
                    //Black key4
                    //circle.arc(100, 23, 7, 0, 2 * Math.PI);
                    //Black key5
                    //circle.arc(120, 23, 7, 0, 2 * Math.PI);
                    //Black key6
                    //circle.arc(162, 23, 7, 0, 2 * Math.PI);
                    //Black key7
                    //circle.arc(182, 23, 7, 0, 2 * Math.PI);
                    //Black key8
                    //circle.arc(221, 23, 7, 0, 2 * Math.PI);
                    //Black key9
                    //circle.arc(242, 23, 7, 0, 2 * Math.PI);
                    //Black key10
                    //circle.arc(262, 23, 7, 0, 2 * Math.PI);

                }
            }

            ctx.fill(circle);


            


        }

        function GetElementById(thiselement) {
            return document.getElementById(thiselement)
        }

        function GetInversion() {
            if (GetElementById("RadioRoot").checked == true) {
                return "Root";
            }
            if (GetElementById("RadioFirst").checked == true) {
                return "First";
            }
            if (GetElementById("RadioSecond").checked == true) {
                return "Second";
            }
        }

    </script>

</body>
</html>
